# Module:1 Data Validation Process and Preprocessing Technique

In [3]:
#import libraries for access and functional purpose
import pandas as p
import numpy as n
import matplotlib.pyplot as plt
import seaborn as s

In [4]:
#read the given dataset
df = p.read_csv("df4.csv")

In [5]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,rainfall,Average Humidity,Mean Temp,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare),cost of production per yield
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,0.012360,57,62,23076.74,1941.55,9.83,19085.4365
1,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,0.084119,56,58,12610.85,1691.66,6.83,11554.0378
2,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,0.080064,58,53,32683.46,3207.35,9.33,29924.5755
3,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,0.181051,57,58,13209.32,2228.97,5.90,13150.9230
4,Andaman and Nicobar Islands,NICOBARS,2004,Whole Year,Arecanut,1264.7,0.035446,63,67,22560.30,1595.56,13.57,21651.7492

In [6]:
listcrops = p.Categorical(df['Crop'])
listcrops

['Arecanut', 'Arecanut', 'Arecanut', 'Arecanut', 'Arecanut', ..., 'Moong(Green Gram)', 'Moong(Green Gram)', 'Moong(Green Gram)', 'Moong(Green Gram)', 'Moong(Green Gram)']
Length: 9542
Categories (74, object): ['Arecanut', 'Arhar/Tur', 'Bajra', 'Banana', ..., 'Varagu', 'Water Melon', 'Wheat', 'Yam']

In [7]:
df['Crop'].value_counts()

Moong(Green Gram)    932
Urad                 510
Rice                 498
Sugarcane            482
Ragi                 456
                    ...
Horse-gram             6
Plums                  6
Peach                  4
Jute                   2
Turnip                 2
Name: Crop, Length: 74, dtype: int64

In [ ]:
df['Crop'].nunique()

In [ ]:
df['Crop'].unique()

In [ ]:
df.shape

In [ ]:
#To describe the dataframe
df.describe()

In [ ]:
#Checking datatype and information about dataset
df.info()

In [ ]:
df[df.dtypes[df.dtypes == 'float64'].index].describe()

In [ ]:
p.Categorical(df['State_Name']).describe()

In [1]:
p.Categorical(df['District_Name']).describe()

NameError: name 'p' is not defined

In [ ]:
p.Categorical(df['Mean Temp']).describe()

In [ ]:
p.Categorical(df['Season']).describe()

In [ ]:
p.Categorical(df['Average Humidity']).describe()

In [ ]:
p.Categorical(df['rainfall']).describe()

In [ ]:
p.Categorical(df['Crop']).describe()

In [ ]:
#Checking for duplicate data
df.duplicated()

In [ ]:
#find sum of duplicate data
sum(df.duplicated())

In [ ]:
df.nunique()

In [ ]:
#Correlation
df.corr()

In [ ]:
#Checking minimum or maximum yields (100kg/2.47 acre)
print("Minimum yield of crops is  (100kg/2.47 acre):", df["Yield (Quintal/ Hectare) "].min())
print("Maximun yield of crops is  (100kg/2.47 acre):", df["Yield (Quintal/ Hectare) "].max())

In [ ]:
#Checking minimum or maximum cost production for c2 scheme (per 2.47 acre)
print("Minimum cost production for c2 scheme(per 2.47 acre):", df["Cost of Production (`/Quintal) C2"].min())
print("Maximun cost production for c2 scheme(per 2.47 acre):", df["Cost of Production (`/Quintal) C2"].max())

In [ ]:
#Rename the data
df.rename(columns={'Cost of Cultivation (`/Hectare) C2':'CC'}, inplace=True)
df.rename(columns={'Cost of Production (`/Quintal) C2':'CP'}, inplace=True)
df.rename(columns={'Yield (Quintal/ Hectare) ':'Y'}, inplace=True)
#show the dataframe
df.head()

In [ ]:
p.crosstab(df.State_Name,df.Crop)

In [ ]:
df.rename(columns={'Mean Temp':'T'}, inplace=True)
df.rename(columns={'Average Humidity':'H'}, inplace=True)
df.rename(columns={'rainfall':'R'}, inplace=True)

In [ ]:
#Rename the data
df.rename(columns={'Cost of Cultivation (`/Hectare) C2':'CC'}, inplace=True)
df.rename(columns={'Cost of Production (`/Quintal) C2':'CP'}, inplace=True)
df.rename(columns={'Yield (Quintal/ Hectare) ':'Y'}, inplace=True)

In [ ]:
df.rename(columns={'cost of production per yield':'CPPY'}, inplace=True)

In [ ]:
df['Y'].unique()

In [ ]:
df.columns

In [ ]:
from sklearn.preprocessing import LabelEncoder
var_mod = [ 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'R', 'H', 'T', 'CC', 'CP', 'Y', 'CPPY']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [ ]:
df.head()